In [2]:
import Quandl as q

In [3]:
myd = q.get("GOOG/BOM_500014")

In [4]:
myd

            Open  High   Low  Close  Volume
Date
2012-11-26  1.85  2.01  1.85   1.99   12470
2012-11-27  2.00  2.03  1.93   2.01    6065
2012-11-29  2.07  2.10  1.96   2.01   11996
2012-11-30  1.97  2.02  1.95   2.01    8941
2012-12-03  1.99  2.00  1.99   1.99    4300
2012-12-04  2.04  2.07  1.97   2.02    8380
2012-12-05  2.12  2.12  1.93   1.99   18809
2012-12-06  2.00  2.08  1.84   2.03    5284
2012-12-07  2.04  2.04  1.94   2.04    4813
2012-12-10  2.12  2.12  1.97   2.10   16649
2012-12-11  1.71  2.14  1.71   2.05   11953
2012-12-12  2.05  2.09  1.85   2.02   33043
2012-12-13  2.08  2.08  1.96   2.01    6011
2012-12-14  2.05  2.05  1.94   1.94    4975
2012-12-17  1.99  1.99  1.87   1.90   12053
2012-12-18  1.94  1.97  1.87   1.95    7988
2012-12-19  2.00  2.00  1.92   2.00   11445
2012-12-20  2.03  2.03  1.93   1.95    6819
2012-12-21  1.99  2.04  1.86   1.99   39264
2012-12-24  1.99  1.99  1.91   1.98    5960
2012-12-26  1.98  2.00  1.90   2.00   19709
2012-12-27  2.14  2.14  1.93   1.99    1602
2012-12-28  1.99  1.99  1.90   1.97    4337
2012-12-31  2.08  2.08  1.87   1.93   21683
2013-01-02  2.05  2.05  1.97   2.00   10799
2013-01-03  2.09  2.09  1.90   1.96   30968
2013-01-04  2.02  2.03  1.96   2.03    5692
2013-01-07  2.07  2.07  1.96   1.96    6341
2013-01-08  2.02  2.10  2.00   2.08   13860
2013-01-09  2.12  2.12  1.90   1.91   22153
...          ...   ...   ...    ...     ...
2016-01-25  2.71  3.29  2.71   2.97    4233
2016-01-27  3.35  3.35  2.36   2.48  137194
2016-01-28  2.37  2.55  2.25   2.55   15327
2016-01-29  2.24  2.49  2.15   2.38   12018
2016-02-01  2.17  2.60  2.17   2.50   20840
2016-02-02  2.36  2.52  2.30   2.50   11885
2016-02-03  2.32  2.52  2.30   2.35    4640
2016-02-04  2.11  2.49  2.11   2.23    5055
2016-02-05  2.20  2.49  2.16   2.40   37608
2016-02-08  2.00  2.49  2.00   2.34   24133
2016-02-09  2.30  2.47  2.30   2.47    3958
2016-02-10  2.80  2.80  2.30   2.31    6995
2016-02-11  2.28  2.50  2.28   2.28    8902
2016-02-12  2.01  2.40  2.01   2.27    8520
2016-02-15  2.51  2.51  2.28   2.43    1925
2016-02-16  2.54  2.55  2.25   2.28    4384
2016-02-17  2.16  2.44  2.16   2.44    6884
2016-02-18  2.28  2.44  2.28   2.30    6150
2016-02-19  2.13  2.43  2.13   2.28    3378
2016-02-22  2.28  2.49  2.28   2.28    3332
2016-02-23  2.28  2.31  2.28   2.28    3247
2016-02-24  2.31  2.31  2.15   2.18   10792
2016-02-25  2.16  2.25  2.15   2.25   12002
2016-02-26  2.20  2.38  2.15   2.38   13260
2016-02-29  2.18  2.30  2.17   2.17   20382
2016-03-01  2.18  2.28  2.18   2.18    1901
2016-03-02  2.20  2.40  2.19   2.22   12867
2016-03-03  2.28  2.29  2.18   2.28    4124
2016-03-04  2.33  2.33  2.19   2.30     177
2016-03-08  2.30  2.30  2.18   2.27    2530

[802 rows x 5 columns]

In [5]:
myd1 = q.get("GOOG/NYSE_INR")

In [6]:
myd1

             Open   High    Low  Close  Volume
Date
2008-03-19  40.39  40.40  40.36  40.36    5300
2008-03-20  40.36  40.36  40.36  40.36     100
2008-03-24  40.65  40.65  40.65  40.65     200
2008-03-25  40.70  40.70  40.63  40.63    1100
2008-03-26  40.72  40.72  40.72  40.72    1100
2008-03-27  40.83  40.88  40.81  40.82   14500
2008-03-28  41.17  41.20  41.12  41.20   17300
2008-03-31  40.90  40.90  40.88  40.88   17000
2008-04-01    NaN    NaN    NaN  40.88       0
2008-04-02  41.27  41.27  41.27  41.27     100
2008-04-03  40.97  41.08  40.97  41.08     200
2008-04-04  41.02  41.05  41.02  41.05     400
2008-04-07  41.03  41.03  41.03  41.03    1700
2008-04-08  40.96  40.99  40.96  40.99     600
2008-04-09  41.00  41.04  41.00  41.04    4600
2008-04-10  41.05  41.12  41.03  41.08    2500
2008-04-11  41.15  41.15  41.14  41.14     200
2008-04-14  41.12  41.12  41.07  41.12    5500
2008-04-15  41.12  41.12  40.95  41.07    2300
2008-04-16  41.15  41.15  41.15  41.15     100
2008-04-17  41.23  41.32  41.23  41.32    3900
2008-04-18  41.17  41.20  41.17  41.20     900
2008-04-21  41.12  41.12  41.09  41.09    1500
2008-04-22  41.06  41.07  41.06  41.07    5600
2008-04-23  40.89  40.92  40.89  40.91    6000
2008-04-24  40.80  40.80  40.77  40.77     500
2008-04-25  40.78  40.86  40.76  40.80    1700
2008-04-28  40.74  40.74  40.69  40.71    1700
2008-04-29  40.54  40.54  40.49  40.49     500
2008-04-30  40.42  40.42  40.42  40.42     200
...           ...    ...    ...    ...     ...
2016-01-26    NaN    NaN    NaN  36.36       0
2016-01-27  36.05  36.10  36.05  36.10     400
2016-01-28    NaN    NaN    NaN  36.10       0
2016-01-29    NaN    NaN    NaN  36.10       0
2016-02-01  36.40  36.40  36.38  36.38     300
2016-02-02  36.05  36.31  36.05  36.12    2700
2016-02-03    NaN    NaN    NaN  36.12       0
2016-02-04    NaN    NaN    NaN  36.12       0
2016-02-05  36.20  36.24  36.20  36.22    1400
2016-02-08    NaN    NaN    NaN  36.22       0
2016-02-09  36.56  36.56  36.02  36.02     600
2016-02-10  36.09  36.09  36.09  36.09     300
2016-02-11    NaN    NaN    NaN  36.09       0
2016-02-12  36.00  36.65  36.00  36.30    7500
2016-02-16  35.93  36.30  35.93  36.00    5700
2016-02-17  35.89  36.08  35.89  36.08    2100
2016-02-18    NaN    NaN    NaN  36.08       0
2016-02-19  35.75  35.89  35.75  35.89    1020
2016-02-22  35.93  36.00  35.93  35.99    2200
2016-02-23  35.78  36.15  35.78  36.06    2900
2016-02-24  35.93  36.50  35.79  36.00    4342
2016-02-25  35.80  36.00  35.76  35.83    3200
2016-02-26  35.78  36.32  35.70  35.91    8530
2016-02-29  36.00  36.34  35.99  36.32    9629
2016-03-01    NaN    NaN    NaN  36.32       0
2016-03-02  36.50  37.15  36.39  36.90   35062
2016-03-03  36.58  37.10  36.50  36.86   32100
2016-03-04  36.60  37.31  36.54  36.80   45614
2016-03-07  36.78  37.30  36.78  37.20   44202
2016-03-08  36.93  36.99  36.73  36.99    7270

[1912 rows x 5 columns]

In [7]:
import Qaundl as q

ImportError: No module named Qaundl

In [8]:
myd3 = q.get("CUR/INR")

CallLimitExceeded: API daily call limit exceeded. Contact us at connect@quandl.com if you want an increased daily limit

In [9]:
myd3

NameError: name 'myd3' is not defined

In [10]:
import Qaundl as q

ImportError: No module named Qaundl